{% extends "validation/main.html" %}
{% load static %}

{% block main_block %}
    <!-- Preloader -->
    <div class="preloader">
      <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/favicon.ico" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Preloader -->
    <div class="preloader">
      <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/favicon.ico" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <div class="position-relative overflow-hidden radial-gradient min-vh-100">
        <div class="position-relative z-index-5">
          <div class="row">
            <div class="col-lg-6 col-xl-8 col-xxl-9">              
              <div class="d-none d-lg-flex align-items-center justify-content-center" style="height: calc(100vh - 80px);">
                <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/backgrounds/login-security.svg" alt="" class="img-fluid" width="500">
              </div>
            </div>
            <div class="col-lg-6 col-xl-4 col-xxl-3">
              <div class="card mb-0 shadow-none rounded-0 min-vh-100 h-100">
                <div class="d-flex align-items-center w-100 h-100">
                  <div class="card-body">
                    <div class="mb-5">
                      <h2 class="fw-bolder fs-7 mb-3">Forgot your password?</h2>
                      <p class="mb-0 ">   
                        Please enter the email address associated with your account and We will email you a link to reset your password.                
                      </p>
                    </div>
                    {% for message in messages  %}
              <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>OOPS!</strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>{% endfor %}
                    <form method="post" action="{% url "Forgate_Password_Validation" %}">
                      {% csrf_token %}
                      <div class="mb-3">
                        <label for="UserName" class="form-label">UserName</label>
                        <input type="text" class="form-control" id="UserName" name="Username" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                      </div>
                      <button type="submit" name="submit" value="submit" class="btn btn-primary w-100 py-8 mb-4 rounded-2">Forgate Password</button>
                      <a href="{% url "Login_Page" %}" class="btn btn-light-primary text-primary w-100 py-8">Back to Login</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
{% endblock main_block %}