{% extends "ReportPages/Report_Page.html" %}

{% load static %}


{% block ReportContant %}

<div class="table-responsive">
    <table class="table border-info table-bordered">
      <thead class="bg-info text-white">
        <tr>
          <th>Citizen Name</th>
          <th>Total Members</th>
          <th>Block No.</th>
          <th>House .No</th>
          <th>Resident Type</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>BirthDate</th>
          <th>Gender</th>
          <th>Profession</th>
          <th>AdharNumber</th>
          <th>Contact</th>
          <th>Contact2</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        {% for x in Citizen_Report %}
          <tr>
            <td>{{x.singup}}</td>
            <td>{{x.TotalMembers}}</td>
            <td>{{x.BlockNo}}</td>
            <td>{{x.HouseNo}}</td>
            <td>{{x.Resident_Type}}</td>
            <td>{{x.FirstName}}</td>
            <td>{{x.LastName}}</td>
            <td>{{x.BirthDate}}</td>
            <td>{{x.Gender}}</td>
            <td>{{x.Profession}}</td>
            <td>{{x.AdharNumber}}</td>
            <td>{{x.Contact}}</td>
            <td>{{x.Contac2t}}</td>
            <td>{{x.Address}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock ReportContant %}