{% extends "ReportPages/Report_Page.html" %}

{% load static %}


{% block ReportContant %}

<div class="table-responsive">
    <table class="table border-info table-bordered">
      <thead class="bg-info text-white">
        <tr>
          <th>Citizen_Id</th>
          <th>Subject</th>
          <th>Status</th>
          <th>Complain</th>
          <th>Entry_Date</th>
        </tr>
      </thead>
      <tbody>
        {% for x in Complain_Report %}
          <tr>
            <td>{{x.Citizen_Id}}</td>
            <td>{{x.Subject}}</td>
            <td>{{x.Status}}</td>
            <td>{{x.Complain}}</td>
            <td>{{x.Entry_Date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock ReportContant %}