{% extends "ReportPages/Report_Page.html" %}

{% load static %}


{% block ReportContant %}

<h1>Sell Report</h1>
<hr>
<br>
<div class="table-responsive">
    <table class="table border-info table-bordered">
      <thead class="bg-info text-white">
        <tr>
          <th>House No.</th>
          <th>Society Name</th>
          <th>Citizen Name</th>
          <th>Sell Price</th>
          <th>Entry Date</th>
        </tr>
      </thead>
      <tbody>
        {% for x in Sell_Report %}
          <tr>
            <td>{{x.House_Id}}</td>
            <td>{{x.Society_Id}}</td>
            <td>{{x.Citizen_Id}}</td>
            <td>{{x.Sell_Price}}</td>
            <td>{{x.Entry_Date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<br>
<h1>Rent Report</h1>
<hr>
<br>
<div class="table-responsive">
    <table class="table border-info table-bordered">
      <thead class="bg-info text-white">
        <tr>
          <th>House No.</th>
          <th>Society Name</th>
          <th>Citizen Name</th>
          <th>Rent Price</th>
          <th>Entry Date</th>
        </tr>
      </thead>
      <tbody>
        {% for x in Rent_Report %}
          <tr>
            <td>{{x.House_Id}}</td>
            <td>{{x.Society_Id}}</td>
            <td>{{x.Citizen_Id}}</td>
            <td>{{x.Rent_Price}}</td>
            <td>{{x.Entry_Date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock ReportContant %}