{% extends "Committee/committee_Profile.html" %}
{% load static %}

{% block CommitteeNav %}
<div class="col-lg-6 d-flex align-items-stretch" style="margin-left: 25%;">
    <!-- ---------------------
                        start Complaint Form
                    ---------------- -->
             
    <div class="card w-100">
        {% for message in messages  %}

              <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>OOPS!</strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

        {% endfor %}
        <form method="post" action="{% url "Insert_Notice" %}">
            {% csrf_token %}
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <h5 class="mb-3">Add Society Notice</h5>
                </div>              
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="Notice_Type" class="control-label col-form-label">Notice Type</label>
                            <select class="form-select" required id="Notice_Type"  name="Notice_Type" placeholder="Enter Notice_Type Name">
                                <option selected>Choose...</option>
                                <option value="Society Cleaning">Society Cleaning</option>
                                <option value="Water Supply">Water Supply</option>
                                <option value="Parking Issues">Parking Issues</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="notice_datetime" class="control-label col-form-label">Date Of Notice</label>
                            <input type="date" required  name="notice_datetime" class="form-control" id="notice_datetime" />
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="control-label col-form-label" for="Notice_Subject">Notice Subject</label>
                            <textarea class="form-control" id="exampleTextarea2" required  rows="2" name="Notice_Subject"
                                placeholder="Vehicles are not mark properly" id="Notice_Subject"></textarea>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="p-3 border-top">
                <div class="action-form">
                    <div class="text-center">
                        <button type="submit" class="btn btn-info rounded-pill px-4 waves-effect waves-light">
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- ---------------------
                        end Complaint Form
                    ---------------- -->
</div>

{% endblock CommitteeNav %}