{% extends "Committee/committee_Profile.html" %}
{% load static %}

{% block CommitteeNav %}
<div class="col-lg-6 d-flex align-items-stretch" style="margin-left: 25%;">
    <!-- ---------------------
                        start Complaint Form
                    ---------------- -->
    <div class="card w-100">
        {% for message in messages  %}

              <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>OOPS!</strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

        {% endfor %}
        <form method="post" action="{% url "Insert_Event" %}">
            {% csrf_token %}
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <h5 class="mb-3">Add Society Event Information</h5>
                </div> {% comment %}       
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="Event_Name" class="control-label col-form-label">Event Name</label>
                            <input type="text" class="form-control" id="Event_Name" required  name="Event_Name" placeholder="Enter Event Name" />
                        </div>
                    </div>
                    
                </div>    {% endcomment %}    
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="Event_Type" class="control-label col-form-label">Event Name</label>
                            <select class="form-select" required id="Event_Type"  name="Event_Type" placeholder="Enter Event Type Name">
                                <option selected>Choose...</option>
                                <option value="Uattrayan">Uattrayan</option>
                                <option value="Diwali">Diwali</option>
                                <option value="Holi">Holi</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="Eventdatetime" class="control-label col-form-label">Date Of Notice</label>
                            <input type="date" name="Eventdatetime" required  class="form-control" id="Eventdatetime" />
                        </div>
                    </div>                    
                </div>
                
            </div>
            <div class="p-3 border-top">
                <div class="action-form">
                    <div class="text-center">
                        <button type="submit" class="btn btn-info rounded-pill px-4 waves-effect waves-light">
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- ---------------------
                        end Complaint Form
                    ---------------- -->
</div>

{% endblock CommitteeNav %}