{% extends "Committee/committee_Profile.html" %}
{% load static %}

{% block CommitteeNav %}
<div class="col-lg-6 d-flex align-items-stretch" style="margin-left: 25%;">
    <!-- ---------------------
                        start Complaint Form
                    ---------------- -->
    <div class="card w-100">
        {% for message in messages  %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          <strong></strong> {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

        <form action="{% url "Insert_In_Arreage_Meeting" %}" method="post">
            {% csrf_token %}
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <h5 class="mb-3">Society Meeting Arangement Form</h5>
                </div>              
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="meeting_agenda" class="control-label col-form-label">Meeting Agenda</label>
                            <input type="text" class="form-control" required  id="meeting_agenda" name="meeting_agenda" placeholder=" Enter Meeting Agenda" />
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="meetingdatetime" class="control-label col-form-label">Date Time of Meeting </label>
                            <input type="date" name="meetingdatetime" required  class="form-control" id="meetingdatetime" />
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="control-label col-form-label" for="meeting_Conclusion">Meeting Conclusion</label>
                            <textarea class="form-control" required  id="meeting_Conclusion" rows="2" name="meeting_Conclusion"
                                placeholder=" Enter Meeting Conclusion"></textarea>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="p-3 border-top">
                <div class="action-form">
                    <div class="text-center">
                        <button type="submit" class="btn btn-info rounded-pill px-4 waves-effect waves-light">
                            Send
                        </button>
                        <button type="submit" class="btn btn-dark rounded-pill px-4 waves-effect waves-light">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- ---------------------
                        end Complaint Form
                    ---------------- -->
</div>

{% endblock CommitteeNav %}