{% extends "validation/main.html" %}
{% load static %}

{% block css %}
<!-- Owl Carousel -->
<!-- --------------------------------------------------- -->
<link rel="stylesheet" href="{% static 'mainpage/libs/owl.carousel/dist/assets/owl.carousel.min.css' %}">
<!-- --------------------------------------------------- -->
<!-- Prism Js -->
<!-- --------------------------------------------------- -->
<link rel="stylesheet" href="{% static 'mainpage/libs/prismjs/themes/prism-okaidia.min.css' %}">
<!-- --------------------------------------------------- -->
<!-- Core Css -->
{% endblock css %}


{% block main_block %}
<form method="post" action="{% url "Committee_Validation" %}">
  {% csrf_token %}
  <div class="col-lg-6" style="margin-left: 25%;">
    <div class="card">
      <div class="px-4 py-3 border-bottom">
        <h5 class="card-title fw-semibold mb-0">Committee Extra Detail</h5>
      </div>
      
      <div class="card-body p-4">
        
        <h5 class="fs-4 fw-semibold mb-4">Personal Info</h5>
        
        <div class="mb-4 row align-items-center">
          <label for="Adhar" class="form-label fw-semibold col-sm-3 col-form-label text-end">Adhar
            Number
          </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="Adhar" id="Adhar" placeholder="">
          </div>
        </div>
        <div class="mb-4 row align-items-center">
          <label for="DOB" class="form-label fw-semibold col-sm-3 col-form-label text-end">Birth
            Date</label>
          <div class="col-sm-9">
            <div class="input-group">
              <input id="startDate" name="DOB" class="form-control" type="date">
            </div>
          </div>
        </div>
        <div class="mb-4 row align-items-center">
          <label for="gender" class="form-label fw-semibold col-sm-3 col-form-label text-end">Gender</label><br>
          <div class="col-sm-9">
            <div class="input-group">
              <input type="radio" class="form-label fw-semibold col-sm-3 col-form-label text-end" name="gender"
                id="male"> Male
              <input type="radio" class="form-label fw-semibold col-sm-3 col-form-label text-end" Name="gender"
                id="female"> Female
            </div>
          </div>
        </div>
        <div class="mb-4 row align-items-center">
          <label for="phone" class="form-label fw-semibold col-sm-3 col-form-label text-end">Phone
            no</label>
          <div class="col-sm-9">
            <div class="input-group">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="123 4567 201">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <div class="d-flex align-items-center gap-3">
              <button type="submit" name="submit" value="submit"
                class="btn btn-primary w-100 py-8 mb-4 rounded-2">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</form>

{% block js %}

<script src="{% static 'mainpage/libs/prismjs/prism.js' %}"></script>
{% endblock js %}


{% endblock main_block %}