{% extends "Committee/committee_Profile.html" %}
{% load static %}

{% block CommitteeNav %}
<br><br>
<div class="table-responsive">
    <table class="table border-info table-bordered">
      <thead class="bg-info text-white">
        <tr>
          <th>Event Name</th>
          <th>DateTime</th>        
        </tr>
      </thead>
      <tbody>
        {% for x in Event_List %}
          <tr>
            <td>{{x.Event_Type}}</td>
            <td>{{x.DateTime}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock CommitteeNav %}