{% extends "Citizen/Citizen_Profile.html" %}
{% load static %}
{% block CitizenNav %}
<div class="tab-pane fade show active" id="pills-Account-Settings" role="tabpanel"
    aria-labelledby="pills-Account-Settings-tab" tabindex="0">
    <div class="card-body">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-Account-Settings" role="tabpanel"
                aria-labelledby="pills-Account-Settings-tab" tabindex="0">
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-stretch">
                        <div class="card w-100 position-relative overflow-hidden">
                            <div class="card-body p-4">
                                <h5 class="card-title fw-semibold">Change Profile</h5>
                                <p class="card-subtitle mb-4">Change your profile picture from here</p>
                                <div class="text-center">
                                    <img src="{{citizen.Citizen_Image.url}}" alt=""
                                        class="rounded-circle" width="120" height="120">
                                <from action="" method="post" onchange="this.submit()" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="d-flex align-items-center justify-content-center my-4 gap-3">
                                        
                                        <input type="file" name="Security_Image" class="btn btn-primary">
            
                                    </div>
                                </form>
                                    <p class="mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-stretch">
                        <div class="card w-100 position-relative overflow-hidden">
                            <div class="card-body p-4">
                                <h5 class="card-title fw-semibold">Change Password</h5>
                                <p class="card-subtitle mb-4">To change your password please confirm here</p>

                                {% comment %} Change Password {% endcomment %}
                                {% for message in messages  %}
                                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                                  <strong>congrats</strong> {{message}}
                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>{% endfor %}
                                <form action="{% url "Change_Password_Of_Citizen" %}" method="post">
                                    {% csrf_token %}
                                    <div class="mb-4">
                                        <label for="current_Password" class="form-label fw-semibold">Current
                                            Password</label>
                                        <input type="password" required name="current_Password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="mb-4">
                                        <label for="new_password" class="form-label fw-semibold">New
                                            Password</label>
                                        <input type="password" required name="new_password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="">
                                        <label for="confirm_password" class="form-label fw-semibold">Confirm
                                            Password</label>
                                        <input type="password" required name="confirm_password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex align-items-center justify-content-end mt-4 gap-3">
                                            <input type="submit" required name="submit" class="btn btn-primary" value="Change" >
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card w-100 position-relative overflow-hidden mb-0">
                            <div class="card-body p-4">
                                <h5 class="card-title fw-semibold">Personal Details</h5>
                                <p class="card-subtitle mb-4">To change your personal detail , edit and save from here
                                </p>
                                
                                {% comment %} Profile change {% endcomment %}                                
                                <form method="post" action="{% url "Update_citizen_Profile" %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="mb-4">
                                                <label for="FirstName" class="form-label fw-semibold">First
                                                    Name</label>
                                                <input type="text" required class="form-control" id="FirstName" name="FirstName"
                                                     value={{citizen.FirstName}}>
                                            </div>
                                            <div class="mb-4">
                                                <label for="Resident_Type"
                                                    class="form-label fw-semibold">Resident Type</label>
                                                    <input type="text" required class="form-control" id="Resident_Type" name="Resident_Type"
                                                     value={{citizen.Resident_Type}}>
                                            </div>
                                            <div class="mb-4">
                                                <label for="BlockNo" class="form-label fw-semibold">Block
                                                    No.</label>
                                                <input type="text" required class="form-control" id="BlockNo" name="BlockNo"
                                                    value={{citizen.BlockNo}}>
                                            </div>
                                            <div class="mb-4">
                                                <label for="HouseNo" class="form-label fw-semibold">House
                                                    No.</label>
                                                <input type="text" required class="form-control" id="HouseNo" name="HouseNo"
                                                     value={{citizen.HouseNo}}>
                                            </div>
                                            <div class="mb-4">
                                                <label for="email"
                                                    class="form-label fw-semibold">Email</label>
                                                <input type="email" required class="form-control" id="email" name="email"
                                                     value={{citizen.singup.Email}}>
                                            </div>
                                            <div class="mb-4">
                                                <div class="mb-3">
                                                    <label for="Address"
                                                        class="form-label fw-semibold">Address</label>
                                                    <input type="text" required class="form-control" id="Address" name="Address"
                                                         value={{citizen.Address}}>
                                                </div>
                                                <div class="mb-4">
                                                    <label for="Phone2"
                                                        class="form-label fw-semibold">Phone2</label>
                                                    <input type="text" required class="form-control" id="Phone2" name="Phone2"
                                                        value={{citizen.Contac2t}}>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="LastName" class="form-label fw-semibold">Last
                                                    Name</label>
                                                <input type="text" required class="form-control" id="LastName" name="LastName"
                                                     value={{citizen.LastName}}>
                                            </div>
                                            <div class="mb-4 row align-items-center">
                                                <label for="Profession" class="form-label fw-semibold">Profession</label>
                                                <input type="text" required class="form-control" id="Profession" name="Profession"
                                                     value={{citizen.Profession}}>                                                    
                                              </div>
                                            <div class="mb-4">
                                                <label for="TotalMembers" class="form-label fw-semibold">Total
                                                    Family Mambers</label>
                                                <input type="text" required class="form-control" id="TotalMembers" name="TotalMembers"
                                                     value={{citizen.TotalMembers}}>
                                            </div>
                                            <div class="mb-4">
                                                <label for="birthday"
                                                    class="form-label fw-semibold">BirthDate</label>
                                                <input type="date" required class="form-control" id="birthday" name="birthday"
                                                     value={{citizen.BirthDate}}>
                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1"
                                                    class="form-label fw-semibold">Gender</label>
                                                
                                                <div class="mb-4">
                                                    <div class="input-group">
                                                        <input type="radio"
                                                            class="form-label fw-semibold col-sm-3 col-form-label text-end"
                                                            name="gender" id="male" required  value="m" > Male
                                                        <input type="radio"
                                                            class="form-label fw-semibold col-sm-3 col-form-label text-end"
                                                            Name="gender" id="female"  required value="f" checked=""> Female
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <label for="AdharNumber"
                                                    class="form-label fw-semibold">AdharNumber</label>
                                                <input type="text" required class="form-control" id="AdharNumber" name="AdharNumber"
                                                    value={{citizen.AdharNumber}}>
                                            </div>
                                            <div class="mb-4">
                                                <label for="Phone"
                                                    class="form-label fw-semibold">Phone</label>
                                                <input type="text" required class="form-control" id="Phone" name="Phone"
                                                     value={{citizen.Contact}}>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-flex align-items-center justify-content-end mt-4 gap-3">
                                                <button class="btn btn-primary">Save</button>
                                                <button class="btn btn-light-danger text-danger">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock CitizenNav %}