{% extends "Citizen/Citizen_Profile.html" %}
{% load static %}
{% block CitizenNav %}
<div class="tab-pane fade show active" id="pills-Account-Settings" role="tabpanel"
    aria-labelledby="pills-Account-Settings-tab" tabindex="0">
    <div class="card-body">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-Account-Settings" role="tabpanel"
                aria-labelledby="pills-Account-Settings-tab" tabindex="0">
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-stretch">
                        <div class="card w-100 position-relative overflow-hidden">
                            <div class="card-body p-4">
                                <h5 class="card-title fw-semibold">Change Profile</h5>
                                <p class="card-subtitle mb-4">Change your profile picture from here</p>
                                <div class="text-center">
                                    <img src="{% static 'mainpage/images/profile/user-1.jpg' %}" alt=""
                                        class="img-fluid rounded-circle" width="120" height="120">
                                    <div class="d-flex align-items-center justify-content-center my-4 gap-3">
                                        <button class="btn btn-primary">Upload</button>
                                        <button class="btn btn-outline-danger">Reset</button>
                                    </div>
                                    <p class="mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-stretch">
                        <div class="card w-100 position-relative overflow-hidden">
                            <div class="card-body p-4">
                                <h5 class="card-title fw-semibold">Change Password</h5>
                                <p class="card-subtitle mb-4">To change your password please confirm here</p>

                                {% comment %} Change Password {% endcomment %}

                                <form>
                                    {% csrf_token %}
                                    <div class="mb-4">
                                        <label for="exampleInputPassword1" class="form-label fw-semibold">Current
                                            Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1"
                                            value="12345678910">
                                    </div>
                                    <div class="mb-4">
                                        <label for="exampleInputPassword1" class="form-label fw-semibold">New
                                            Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1"
                                            value="12345678910">
                                    </div>
                                    <div class="">
                                        <label for="exampleInputPassword1" class="form-label fw-semibold">Confirm
                                            Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1"
                                            value="12345678910">
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex align-items-center justify-content-end mt-4 gap-3">
                                            <button class="btn btn-primary">Save</button>
                                            <button class="btn btn-light-danger text-danger">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card w-100 position-relative overflow-hidden mb-0">
                            <div class="card-body p-4">
                                <h5 class="card-title fw-semibold">Personal Details</h5>
                                <p class="card-subtitle mb-4">To change your personal detail , edit and save from here
                                </p>
                                
                                {% comment %} Profile change {% endcomment %}

                                
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1" class="form-label fw-semibold">First
                                                    Name</label>
                                                <input type="text" class="form-control" id="exampleInputtext"
                                                     value={{citizen.FirstName}}>
                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1"
                                                    class="form-label fw-semibold">Resident Type</label>
                                                <div class="mb-4">
                                                    <div class="input-group">
                                                        <select name="Resident" id="Resident" class="form-control">
                                                            <option value="Doctor">Owner</option>
                                                            <option value="Police">Tenant</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-4">
                                                <label for="exampleInputPassword1" class="form-label fw-semibold">Block
                                                    No.</label>
                                                <input type="text" class="form-control" id="exampleInputtext"
                                                    placeholder="blockno A" value={{citizen.BlockNo}}>
                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1" class="form-label fw-semibold">House
                                                    No.</label>
                                                <input type="text" class="form-control" id="exampleInputtext"
                                                    placeholder="houseno 34" value={{citizen.HouseNo}}>
                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1"
                                                    class="form-label fw-semibold">Email</label>
                                                <input type="email" class="form-control" id="exampleInputtext"
                                                    placeholder="info@modernize.com" value={{citizen.Email}}>
                                            </div>
                                            <div class="mb-4">
                                                <div class="mb-3">
                                                    <label for="exampleInputPassword1"
                                                        class="form-label fw-semibold">Address</label>
                                                    <input type="text" class="form-control" id="exampleInputtext"
                                                        placeholder="814 Howard Street, 120065, India" value={{citizen.Address}}>
                                                </div>
                                                <div class="mb-4">
                                                    <label for="exampleInputPassword1"
                                                        class="form-label fw-semibold">Phone2</label>
                                                    <input type="text" class="form-control" id="exampleInputtext"
                                                        placeholder="+91 12345 65478" value={{citizen.Contac2t}}>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1" class="form-label fw-semibold">Last
                                                    Name</label>
                                                <input type="text" class="form-control" id="exampleInputtext"
                                                    placeholder="Maxima Studio" value={{citizen.LastName}}>
                                            </div>
                                            <div class="mb-4 row align-items-center">
                                                <label for="exampleInputPassword1" class="form-label fw-semibold">Profession</label>
                                                <input type="text" class="form-control" id="exampleInputPassword1"
                                                     value={{citizen.Profession}}>
                                                
                                              </div>
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1" class="form-label fw-semibold">Total
                                                    Family Mambers</label>
                                                <input type="text" class="form-control" id="exampleInputtext"
                                                    placeholder="5" value={{citizen.TotalMembers}}>
                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1"
                                                    class="form-label fw-semibold">BirthDate</label>
                                                <input type="date" class="form-control" id="exampleInputtext"
                                                    placeholder="1999/12/15" value={{citizen.BirthDate}}>
                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1"
                                                    class="form-label fw-semibold">Gender</label>
                                                <div class="mb-4">
                                                    <div class="input-group">
                                                        <input type="radio"
                                                            class="form-label fw-semibold col-sm-3 col-form-label text-end"
                                                            name="gender" id="male" value={{citizen.Gender}}> Male
                                                        <input type="radio"
                                                            class="form-label fw-semibold col-sm-3 col-form-label text-end"
                                                            Name="gender" id="female" value={{citizen.Gender}}> Female
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1"
                                                    class="form-label fw-semibold">AdharNumber</label>
                                                <input type="text" class="form-control" id="exampleInputtext"
                                                    placeholder="12345 65478" value={{citizen.AdharNumber}}>
                                            </div>
                                            <div class="mb-4">
                                                <label for="exampleInputPassword1"
                                                    class="form-label fw-semibold">Phone</label>
                                                <input type="text" class="form-control" id="exampleInputtext"
                                                    placeholder="+91 12345 65478" value={{citizen.Contact}}>
                                            </div>
                                            

                                        </div>
                                        
                                        
                                        <div class="col-12">
                                            <div class="d-flex align-items-center justify-content-end mt-4 gap-3">
                                                <button class="btn btn-primary">Save</button>
                                                <button class="btn btn-light-danger text-danger">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock CitizenNav %}