
{% extends "Citizen/Citizen_Profile.html" %}

{% load static %}
{% block CitizenNav %}
<div class="card">
    <div class="card-body" style="margin-left:35%;">
        <h5 class="mb-4">Personal Event Booking Form</h5>
        <form>
            <div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" required id="tb-fname" name="Name" placeholder="Enter complainer Name" />
                        <label for="Name">Citizen Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" required id="tb-email" onkeypress="return event.charCode >=48 && event.charCode <= 78 " name="House_No" placeholder="House_No" />
                        <label for="House_No">HouseNo</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" required id="tb-pwd" name="Society_Name" placeholder="Society_Name" />
                        <label for="Society_Name">Society Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" required id="tb-cpwd" name="Event_Name" placeholder="Event_Name" />
                        <label for="Event_Name">Event Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" required id="tb-cpwd" onkeypress="return event.charCode >=48 && event.charCode <= 78 " name="Guest" placeholder="Guest" />
                        <label for="Guest">No of Guest</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="datetime" class="form-control" required id="tb-cpwd" name="DateTime" placeholder="DateTime" />
                        <label for="DateTime">Date & Time</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-md-flex align-items-center mt-3">
                       
                        <div class="ms-auto mt-3 mt-md-0">
                            <button type="submit" class="btn btn-info font-medium rounded-pill px-4">
                                <div class="d-flex align-items-center">                                    
                                    Send Request
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock CitizenNav %}

