{% extends "Citizen/Citizen_Profile.html" %}

{% load static %}
{% block CitizenNav %}
<!-- ----------------------------------------- -->
<!-- 1. Basic Form -->
<!-- ----------------------------------------- -->
<!-- ---------------------
                                                    start Basic Form
                                                ---------------- -->
<div class="card">
    <div class="card-body" style="margin-left:35%;">
        <h5 class="mb-4">Sell House</h5>
        {% for message in messages  %}
              <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>OOPS!</strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>{% endfor %}
        <form action="{% url "Insert_Sell_House" %}" method="post">
            {% csrf_token %}
            <div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="tb-fname" value={{citizen}} name="Name" placeholder="Enter complainer Name" />
                        <label for="Name">Citizen Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="tb-fname" name="Society_Name" placeholder="Enter Society Name" />
                        <label for="Society_Name">Society Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="tb-email" value={{citizen.HouseNo}} name="House_No" placeholder="name@example.com" />
                        <label for="House_No">House No</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="tb-pwd" name="Price" placeholder="Password" />
                        <label for="Price">Selling Price</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="tb-cpwd" name="Entry_Date" placeholder="Password" />
                        <label for="Entry_Date">Entry Date</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-md-flex align-items-center mt-3">
                       
                        <div class="ms-auto mt-3 mt-md-0">    
                            <button type="submit" class="btn btn-info font-medium rounded-pill px-4">
                                <div class="d-flex align-items-center">                                    
                                    Sell House
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- ---------------------
                                                                                      end Basic Form
                                                                                  ---------------- -->
{% endblock CitizenNav %}