{% extends "Citizen/Citizen_Profile.html" %}

{% load static %}
{% block CitizenNav %}

<div class="table-responsive">
    <table class="table border-info table-bordered">
      <thead class="bg-info text-white">
        <tr>
          <th>Notice</th>
          <th>Subject</th>
          <th>DateTime</th>
        </tr>
      </thead>
      <tbody>
        {% for x in notice%}
          <tr>
            <td>{{x.Notice}}</td>
            <td>{{x.Subject}}</td>
            <td>{{x.DateTime}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock CitizenNav %}