{% extends "Admin/Admin_Profile.html" %}

{% load static %}

{% block AdminContant %}
<div class="card">
    <div class="card-body"  style="margin-left:25%;">
        <h5 class="mb-4">Add New Society</h5>
        {% for message in messages  %}

              <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>OOPS!</strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

        {% endfor %}

        <form action="{% url "Add_New_Society" %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            <div>
                <div class="col-md-8">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="Society_Name" onkeypress="return /^[a-zA-Z]+$/.test(event.key)" name="Society_Name" placeholder="Enter Society Name" required/>
                        <label for="Society_Name">Society Name</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-floating mb-3">
                        <textarea class="form-control" required name="Address"  id="Address" cols="70" rows="2" placeholder="Enter A Valid address"></textarea>
                        <label for="Address">Address</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" required id="PinCode" onkeypress="return event.charCode >=48 && event.charCode <= 78 " name="Pincode" placeholder="Enter PinCode" />
                        <label for="Pincode">Pincode</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-floating mb-3">
                        <select class="form-select" required id="City"  name="City" placeholder="Enter City Name">
                            <option selected>Choose...</option>
                            <option value="Ahemdabad">Ahemdabad</option>
                            <option value="Surat">Surat</option>
                            <option value="Rajkot">Rajkot</option>
                            <option value="Bhavnager">Bhavnager</option>
                        </select>
                        <label for="City">City</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control"  required id="TotalHouses" onkeypress="return event.charCode >=48 && event.charCode <= 78 " name="TotalHouses" placeholder="Total House in 1 Society" />
                        <label for="TotalHouses">No. Of Houses</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" required id="Entry_Date" name="Entry_Date" placeholder="Password" />
                        <label for="Entry_Date">Entry Date</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-floating mb-3">
                        <input type="file" class="form-control"required  id="Upload_image" name="Upload_image" placeholder="Password" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="d-md-flex align-items-center mt-3">
                       
                        <div class="ms-auto mt-3 mt-md-0">    
                            <button type="submit" class="btn btn-info font-medium rounded-pill px-4">
                                <div class="d-flex align-items-center">                                    
                                    Submit
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock AdminContant %}

{% block Js %}
<!-- ---------------------------------------------- -->
<!-- current page js files -->
<!-- ---------------------------------------------- -->
<script src="{% static 'assets/extra-libs/jqbootstrapvalidation/validation.js'%}"></script>
<script>
  !(function (window, document, $) {
    "use strict";
    $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
  })(window, document, jQuery);
</script>
{% endblock Js %}




