{% extends "Admin/Admin_Profile.html" %}

{% block AdminContant %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Citizen Name</th>
            <th>Complain</th>
            <th>Subject of Complain</th>
            <th>Status of Complain</th>
            <th>Entry_Date</th>
          </tr>
    </thead>
    <tbody>
        {% for x in complain %}
          <tr>
            <td>{{x.Citizen_Id}}</td>
            <td>{{x.Complain}}</td>
            <td>{{x.Subject}}</td>
            <td>{{x.Status}}</td>
            <td>{{x.Entry_Date}}</td>    
            {% if x.Status == "Pending" %}
            <td><a href="/Solve_Complain_page/{{ x.id }}" class="btn btn-primary">Solve</a></td>
            {% endif %}
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock AdminContant %}

