{% extends "Admin/Admin_Profile.html" %}

{% block AdminContant %}
<div class="table-responsive">
    <table class="table border-info table-bordered">
        <thead class="bg-info text-white">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Complain Type</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Solve</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Jems</td>
                <td>Water Supply</td>
                <td>Inregular Water</td>
                <td>Pending</td>
                <td><a href="###" class="btn btn-primary" height="50%">Update</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock AdminContant %}

